html {
  height: 100vh;
}

body {
  font-family: "Inter";
  height: 100%;
}

main {
  background-color: rgb(236, 237, 234);
  height: 100%;
}

section {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 0 auto;
  max-width: 810px;
}

.card {

  width: fit-content;
  background: #fafafa;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 20px;

  .photo {
    width: 180px;
    height: 200px;
    overflow: hidden;

    margin-bottom: 0.5rem;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .card-info {
    padding: 0.5rem;
  }

  .category {
    font-size: 0.85rem;
  }

  .title {
    font-weight: 600;
    padding: 0.33rem 0;
  }
  .price_before{
    text-decoration: line-through;
  }
  .percen{
    padding: 0px 4px;
    width: fit-content;
    font-weight: 600;
    margin-right: 120px;
    background-color: rgb(38, 187, 255);
    color: #000000;
    border-radius: 10px; 
    align-items: center;
  }
  .discount{
    display: flex;
  }
}