html {
  height: 100vh;
}

body {
  font-family: "Inter";
  height: 100%;
}

main {
  background-color: rgb(236, 237, 234);
  height: 100%;
}

section {
  padding: 1rem;
  margin: 0 auto;
  max-width: 810px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: fit-content;
  background: #fafafa;
  border-radius: 4px;
  overflow: hidden;
  
  .photo {
    width: 180px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 0.5rem;
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .card-info {
    padding: 0.5rem;
  }

  .category {
    font-size: 0.85rem;
  }
  .title {
    font-weight: 600;
    padding: 0.33rem 0;
  }
  .original-price {
    text-decoration: line-through;
    color: gray;
    margin-right: 0.5rem;
  }
  .discounted-price {
    font-weight: 600;
    color: #000000;
  }
  .discount-label {
  display: inline-block;
  background-color: #20A3E8; 
  color: white;
  font-weight: bold;
  padding: 2px 10px;
  border-radius: 9999px; 
  font-size: 14px;
  line-height: 1.2;
}
.price-low {
  display: flex;
  align-items: center;
  gap: 8px; 
}
}