html {
  height: 100vh;
  background-color: rgb(236, 237, 234);
}

body {
  font-family: "Inter";
  height: 100%;
}

main {
  background-color: rgb(236, 237, 234);
  height: 100%;
  min-height: 100%;
}

section {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1100px;
}

#game-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 210px));
  grid-row-gap: 1rem;
  justify-items: center;
}

.card {
  position: relative;
  width: fit-content;
  background: #fafafa;
  border-radius: 6px;
  width: 190px;
  overflow: hidden;
  
  .photo {
    min-height: 175px;
    overflow: hidden;
    margin-bottom: 0.5rem;
    background-color: #f7f8f9;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .card-info {
    padding: 0.5rem;
  }

  .category {
    font-size: 0.85rem;
  }
  .title {
    font-weight: 600;
    padding: 0.33rem 0;
    line-height: 1.4;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
  }
}

[popover] {
  position: fixed;
  width: fit-content;
  height: fit-content;
  margin: auto;
  border: none;
  overflow: auto;
}

:popover-open {
  width: 550px;
  padding: 1rem;
  margin: 15% auto auto;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 0px #404040;
}

::backdrop {
  background: #14141466;
  backdrop-filter: blur(3px);
}
