html {
  height: 100vh;
}

body {
  font-family: "Inter";
  height: 100%;
}

main {
  display: flex;
  background-color: rgb(236, 237, 234);
  height: 100%;
}

section {
  padding: 1rem;
  margin: 0 1rem;
  max-width: 810px;
}

.card {
  width: fit-content;
  max-width: 100%;
  background: #fafafa;
  border-radius: 10px;
  overflow: hidden;


  .photo {
    width: 180px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 0.5rem;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .card-info {
    padding: 0.5rem;
  }

  .category {

    font-size: 0.85rem;
  }

  .title {
    font-weight: 600;
    padding: 0.33rem 0;
  }

  .discount {
    background-color: #007aff;
    width: 60px;
    border-radius: 1rem;
    padding: 0 10px;
    color: white
  }

  .price-discount {
    text-decoration: line-through;
  }

  .tag {
    background-color: #707070;
    color: white;
    border-radius: 4px;
    width: 100px;
  }

  .fa-crown {
    margin: 0 3px;
  }
}